<style type="text/css">
    td {border:3px solid silver; padding: 15px}
    table {border-collapse: collapse; margin-left: 400px}
    body {text-align: center; background-color: aliceblue}
    .header {text-align: center; background-color: red; color: white; font-size: 36}
</style>

<body>
    <div class="header">
        <h1> Fund Express </h1>
    </div>

    <h2> Retrain Credit Rating Model </h2> <br>
    <h3>{{title}}</h3>

    <!-- Upload  -->
    <form action="/adminViews/retrainCreditRatingModel">
      <form id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="fileUpload" />
      </form>
    </form>

    <p>The format of your file should follow these headers:</p>
    <table>
        <tr>
            <td>NRIC</td> <td>Age</td> <td>Race</td> <td>Sex</td> <td>Nation</td> <td>Address</td> <td>Telephone</td> <td>Status</td>
        </tr>
    </table>
    <br>
    <input type="submit">
    <br><br>

    <h2>Update the Interest Rates</h2> <br>
    <h3>{{title}}</h3>

    <p>The current first month interest rate is: {{currentFirstMonthRate}}%<br>
       The current remaining months interest rate is: {{currentNormalRate}}%<br>
       Rates last updated on: {{dateUpdated}}</p>

<form action="/adminViews/updateInterestRate">
  New first month interest rate:<br>
  <input type="double" name="newFirstMonthRate"><br>
  New normal rate:<br>
  <input type="double" name="newNormalRate"><br>
<input type="submit">
</form>
</body>